
@{
    ViewBag.Title = "Order Processing Application:  Your order has been submitted";
}
<h2>Thanks!</h2>
Thank you for your order. You will receive your shipment as early as possible.
<p>Packaging slip has been generated and send to shipment department</p>
<p>Duplicate Pakaging slip also generated for Loyalti department</p>