@{
    ViewBag.Title = "Order Processing Application:  Your order has been submitted";
}
<head>
<title>Order confirmed</title>
</head>
<body>
    <h2>Thanks!</h2>
    Thank you for your order. You will receive your shipment as early as possible.
    <p>Packaging slip has been generated and send to shipment department</p>
</body>
</html>
